<a href="https://colab.research.google.com/github/bsenst/LoopOfHenle/blob/main/TestingModel.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import xgboost as xgb
import pickle

### Loading the datasets

In [15]:
loaded_model = pickle.load(open("/content/model_weighted.pkl", 'rb'))

"""x = [2.3]
for i in range(40):
  print(len(x), end=" ")
  try:
    print(loaded_model.score(x, [0]))
  except Exception as e:
    x.append(4.5)
    print(e)
    pass"""

features = [2688.0, 5143.0, 4726.0, 1961.0, 16263.0, 1675.0, 3086.0, 18027.0, 2419.0, 4769.0, 5254.0, 13808.0, 12483.0, 5272.0, 12367.0, 12449.0, 12471.0, 1991.0, 12365.0, 12460.0, 543.0, 582.0, 12369.0, 12348.0, 12347.0, 2099.0, 17339.0, 8574.0, 3410.0, 921.0, 12478.0, 18895.0, 3078.0, 18029.0]
print(len(features))

test = dict(zip(features, [3.5]*34))
print(test)

# loaded_model.predict(test)
loaded_model.get_params()

34
{2688.0: 3.5, 5143.0: 3.5, 4726.0: 3.5, 1961.0: 3.5, 16263.0: 3.5, 1675.0: 3.5, 3086.0: 3.5, 18027.0: 3.5, 2419.0: 3.5, 4769.0: 3.5, 5254.0: 3.5, 13808.0: 3.5, 12483.0: 3.5, 5272.0: 3.5, 12367.0: 3.5, 12449.0: 3.5, 12471.0: 3.5, 1991.0: 3.5, 12365.0: 3.5, 12460.0: 3.5, 543.0: 3.5, 582.0: 3.5, 12369.0: 3.5, 12348.0: 3.5, 12347.0: 3.5, 2099.0: 3.5, 17339.0: 3.5, 8574.0: 3.5, 3410.0: 3.5, 921.0: 3.5, 12478.0: 3.5, 18895.0: 3.5, 3078.0: 3.5, 18029.0: 3.5}

{'base_score': 0.5,
 'booster': 'gbtree',
 'colsample_bylevel': 1,
 'colsample_bynode': 1,
 'colsample_bytree': 1,
 'gamma': 0,
 'learning_rate': 0.1,
 'max_delta_step': 0,
 'max_depth': 3,
 'min_child_weight': 1,
 'missing': -999,
 'n_estimators': 100,
 'n_jobs': 1,
 'nthread': None,
 'objective': 'binary:logistic',
 'random_state': 0,
 'reg_alpha': 0,
 'reg_lambda': 1,
 'scale_pos_weight': 1,
 'seed': None,
 'silent': None,
 'subsample': 1,
 'verbosity': 1}

In [19]:
from pandas import Timestamp
import pandas as pd

test = {8574.0: {(42198, Timestamp('2018-06-30 00:00:00')): 87.2},
 3086.0: {(42198, Timestamp('2018-06-30 00:00:00')): 9.6},
 5254.0: {(42198, Timestamp('2018-06-30 00:00:00')): -999.0},
 2688.0: {(42198, Timestamp('2018-06-30 00:00:00')): 214.0},
 4769.0: {(42198, Timestamp('2018-06-30 00:00:00')): 13.4},
 13808.0: {(42198, Timestamp('2018-06-30 00:00:00')): 12.4},
 1675.0: {(42198, Timestamp('2018-06-30 00:00:00')): 4.94},
 2419.0: {(42198, Timestamp('2018-06-30 00:00:00')): 89.7},
 2099.0: {(42198, Timestamp('2018-06-30 00:00:00')): 0.443},
 1991.0: {(42198, Timestamp('2018-06-30 00:00:00')): 151.0},
 4726.0: {(42198, Timestamp('2018-06-30 00:00:00')): 10.6},
 16263.0: {(42198, Timestamp('2018-06-30 00:00:00')): 12.4},
 18895.0: {(42198, Timestamp('2018-06-30 00:00:00')): -999.0},
 5272.0: {(42198, Timestamp('2018-06-30 00:00:00')): -999.0},
 3078.0: {(42198, Timestamp('2018-06-30 00:00:00')): 417.0},
 582.0: {(42198, Timestamp('2018-06-30 00:00:00')): 0.43},
 17339.0: {(42198, Timestamp('2018-06-30 00:00:00')): -999.0},
 921.0: {(42198, Timestamp('2018-06-30 00:00:00')): 0.31},
 1961.0: {(42198, Timestamp('2018-06-30 00:00:00')): 0.47},
 3410.0: {(42198, Timestamp('2018-06-30 00:00:00')): 6.0},
 5143.0: {(42198, Timestamp('2018-06-30 00:00:00')): 1.0145},
 12367.0: {(42198, Timestamp('2018-06-30 00:00:00')): -999.0},
 12348.0: {(42198, Timestamp('2018-06-30 00:00:00')): -999.0},
 12347.0: {(42198, Timestamp('2018-06-30 00:00:00')): -999.0},
 12369.0: {(42198, Timestamp('2018-06-30 00:00:00')): -999.0},
 12365.0: {(42198, Timestamp('2018-06-30 00:00:00')): -999.0},
 18029.0: {(42198, Timestamp('2018-06-30 00:00:00')): -999.0},
 18027.0: {(42198, Timestamp('2018-06-30 00:00:00')): -999.0},
 12449.0: {(42198, Timestamp('2018-06-30 00:00:00')): -999.0},
 12460.0: {(42198, Timestamp('2018-06-30 00:00:00')): -999.0},
 12483.0: {(42198, Timestamp('2018-06-30 00:00:00')): -999.0},
 12478.0: {(42198, Timestamp('2018-06-30 00:00:00')): -999.0},
 12471.0: {(42198, Timestamp('2018-06-30 00:00:00')): -999.0},
 543.0: {(42198, Timestamp('2018-06-30 00:00:00')): 1.87}}

In [20]:
test_df = pd.DataFrame.from_dict(test)

In [22]:
test_df.info()

<class 'pandas.core.frame.DataFrame'>
MultiIndex: 1 entries, (42198, Timestamp('2018-06-30 00:00:00')) to (42198, Timestamp('2018-06-30 00:00:00'))
Data columns (total 34 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   8574.0   1 non-null      float64
 1   3086.0   1 non-null      float64
 2   5254.0   1 non-null      float64
 3   2688.0   1 non-null      float64
 4   4769.0   1 non-null      float64
 5   13808.0  1 non-null      float64
 6   1675.0   1 non-null      float64
 7   2419.0   1 non-null      float64
 8   2099.0   1 non-null      float64
 9   1991.0   1 non-null      float64
 10  4726.0   1 non-null      float64
 11  16263.0  1 non-null      float64
 12  18895.0  1 non-null      float64
 13  5272.0   1 non-null      float64
 14  3078.0   1 non-null      float64
 15  582.0    1 non-null      float64
 16  17339.0  1 non-null      float64
 17  921.0    1 non-null      float64
 18  1961.0   1 non-null      float64
 19  3410.0   1 non-null      float64
 20  5143.0   1 non-null      float64
 21  12367.0  1 non-null      float64
 22  12348.0  1 non-null      float64
 23  12347.0  1 non-null      float64
 24  12369.0  1 non-null      float64
 25  12365.0  1 non-null      float64
 26  18029.0  1 non-null      float64
 27  18027.0  1 non-null      float64
 28  12449.0  1 non-null      float64
 29  12460.0  1 non-null      float64
 30  12483.0  1 non-null      float64
 31  12478.0  1 non-null      float64
 32  12471.0  1 non-null      float64
 33  543.0    1 non-null      float64
dtypes: float64(34)
memory usage: 538.0 bytes

In [27]:
train = pd.read_csv("train_data.csv", parse_dates=True)
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 174077 entries, 0 to 174076
Data columns (total 37 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   p_id       174077 non-null  int64
 1   EntryDate  174077 non-null  object
 2   8574.0     174077 non-null  float64
 3   3086.0     174077 non-null  float64
 4   5254.0     174077 non-null  float64
 5   2688.0     174077 non-null  float64
 6   4769.0     174077 non-null  float64
 7   13808.0    174077 non-null  float64
 8   1675.0     174077 non-null  float64
 9   2419.0     174077 non-null  float64
 10  2099.0     174077 non-null  float64
 11  1991.0     174077 non-null  float64
 12  4726.0     174077 non-null  float64
 13  16263.0    174077 non-null  float64
 14  18895.0    174077 non-null  float64
 15  5272.0     174077 non-null  float64
 16  3078.0     174077 non-null  float64
 17  582.0      174077 non-null  float64
 18  17339.0    174077 non-null  float64
 19  921.0      174077 non-null  float64
 20  1961.0     174077 non-null  float64
 21  3410.0     174077 non-null  float64
 22  5143.0     174077 non-null  float64
 23  12367.0    174077 non-null  float64
 24  12348.0    174077 non-null  float64
 25  12347.0    174077 non-null  float64
 26  12369.0    174077 non-null  float64
 27  12365.0    174077 non-null  float64
 28  18029.0    174077 non-null  float64
 29  18027.0    174077 non-null  float64
 30  12449.0    174077 non-null  float64
 31  12460.0    174077 non-null  float64
 32  12483.0    174077 non-null  float64
 33  12478.0    174077 non-null  float64
 34  12471.0    174077 non-null  float64
 35  543.0      174077 non-null  float64
 36  target     174077 non-null  int64
dtypes: float64(34), int64(2), object(1)
memory usage: 49.1+ MB

In [36]:
sample = train.iloc[:1,2:-1]
sample

,8574.0,3086.0,5254.0,2688.0,4769.0,13808.0,1675.0,2419.0,2099.0,1991.0,...,12369.0,12365.0,18029.0,18027.0,12449.0,12460.0,12483.0,12478.0,12471.0,543.0
0,113.3,8.1,3.94,256.0,15.0,5.6,4.31,84.5,0.364,120.0,...,3.59,1.36,0.4,0.02,0.5,2.8,64.0,8.5,24.2,2.19

### Prediction with the model

In [58]:
col = list(sample.columns)
row = dict()
row[0] = [300]*34
row[0] = list([-999.0, -999.0, -999.0, -999.0, -999.0, -999.0, -999.0, -999.0, -999.0, -999.0, -999.0, -999.0, -999.0, -999.0, -999.0, -999.0, -999.0, -999.0, -999.0, 5.0, 1.044, -999.0, -999.0, -999.0, -999.0, -999.0, -999.0, -999.0, -999.0, -999.0, -999.0, -999.0, -999.0, -999.0])
# print(pd.DataFrame.from_dict(row, orient="index", columns=col))
print(loaded_model.predict(sample))

[1]

In [59]:
row[0] = list([120]*34)
# print(pd.DataFrame.from_dict(row, orient="index", columns=col))
print(loaded_model.predict(sample))

[1]

In [60]:
row[0] = list([-30]*34)
# print(pd.DataFrame.from_dict(row, orient="index", columns=col))
print(loaded_model.predict(sample))

[1]

In [62]:
row[0] = list([-999]*34)
# print(pd.DataFrame.from_dict(row, orient="index", columns=col))
print(loaded_model.predict(sample))

[1]